<h2 mat-dialog-title class="dialog-title">Create Column</h2>
<div mat-dialog-content>
  <p class="dialog-field-name">Name</p>
  <mat-form-field appearance="fill">
    <mat-label>Enter a name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-btns-container">
  <button color="dialog-btn" mat-button (click)="onNoClick()">Cancel</button>
  <button color="dialog-btn" mat-button [mat-dialog-close]="data.name">Ok</button>
</div>
