@mixin board-grid($col-width, $col-height, $align-items-prop) {
  display: grid;
  grid-template-columns: repeat(auto-fit, $col-width);
  grid-auto-rows: $col-height;
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: $align-items-prop;
}
