@mixin commonButton($bg-color, $text-color) {
  position: relative;
  display: block;
  width: 110px;
  height: 34px;
  border: 0;
  border-radius: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: $text-color;
  background-color: $bg-color;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@mixin delete-btn($bg-color, $bg-color-hovered) {
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  border: 2px solid $bg-color;
  position: absolute;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    border: 2px solid $bg-color-hovered;

    &::before, &::after {
      background-color: $bg-color-hovered;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    top: 3px;
    right: 12px;
    display: block;
    background-color: $bg-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
