.dialog {
  &-title {
    font-size: 22px;
  }

  &-field-name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &-btns-container {
    display: flex;
    justify-content: flex-end;
  }

  &-field-name, &-title {
    color: var(--header-text-span-color);
  }
}

.mat-dialog-btn {
  background-color: var(--secondary-color);
  color: var(--header-text-color);
}
