.light-theme {
  --main-color: #f1f1f1;
  --secondary-color: #abc5ff;
  --header-text-color: #505050;
  --header-text-span-color: black;
  --cmn-btn-bg: #5a8bff;
  --cmn-btn-color: #eaeaea;
  --delete-btn-hover-color: red;
  --add-message-bg: #dcdcdc;
  --send-btn-color: #989898;
  --message-tools-color: #b7b7b7;
  --devider-color: #356fa9;
  --toggler-color: darkblue;
  --board-page-header-color: white;
  --textarea-color: #dcdcdc;
  --thumb-up-activated: #505050;
  --register-btn-color: #eaeaea;
  --dialog-bg: white;
  --dialog-field-bg: #eaeaea;
}

.dark-theme {
  --main-color: #313131;
  --secondary-color: #5f5fad;
  --header-text-color: #dedede;
  --header-text-span-color: white;
  --cmn-btn-bg: #5286ff;
  --cmn-btn-color: #eaeaea;
  --delete-btn-hover-color: #f56b6b;
  --add-message-bg: #2d2d52;
  --send-btn-color: #989898;
  --message-tools-color: #bebebe;
  --devider-color: #c0c0c0;
  --toggler-color: #ffdd00;
  --board-page-header-color: #42427a;
  --textarea-color: #20203a;
  --thumb-up-activated: white;
  --register-btn-color: black;
  --dialog-bg: #313131;
  --dialog-field-bg: #131313;
}
