<div class="message-content-side">
  <p class="message-content-side__text">{{message.message}}</p>
</div>
<div class="message-tools-side">
  <fa-icon [icon]="faTimes"
           class="message-tools-side__delete-message"
           (click)="deleteMessageEvent.emit(message)"
           [ngClass]="{disabled: userEmail !== boardCreator}"
  ></fa-icon>
  <div class="message-tools-side__thumbs-up-and-comment-container">
    <div
      class="message-tools-side__thumbs-up-block"
      [ngClass]="{'message-tools-side__thumbs-up-block_active': checkIfUserLiked()}"
      (click)="toggleLike()"
    >
      <fa-icon [icon]="faThumbsUp"></fa-icon>
      {{message.likes.length}}
    </div>
    <div
      class="message-tools-side__comment-block"
      (click)="toggleComments()"
    >
      <fa-icon [icon]="faComment"></fa-icon>
      {{message.comments.length}}
    </div>
  </div>
</div>
<div *ngIf="commentsEnable">
  <div class="comment-create-area">
    <textarea class="comment-create-area__textarea" #textAreaElement></textarea>
    <fa-icon
      class="comment-create-area__send-btn"
      [icon]="faCheckSquare"
      (click)="addComment(textAreaElement.value); textAreaElement.value = ''"
    ></fa-icon>
  </div>
  <div class="comments">
    <div *ngFor="let comment of message.comments; let last = last" [ngClass]="{'comment__last': last}" class="comment">
      <p class="comment__name">{{comment.name}}</p>
      <p class="comment__text">{{comment.comment}}</p>
    </div>
  </div>
</div>
