@import '~assets/scss/sizes';
@import '~assets/scss/disabled-elem';

.message {
  &-content-side {
    position: relative;
    width: 100%;
    color: var(--header-text-span-color);

    &__text {
      width: 90%;
      overflow-wrap: break-word;
    }
  }

  &-tools-side {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;

    &__thumbs-up-and-comment-container {
      display: flex;
    }

    &__thumbs-up-block,
    &__comment-block,
    &__delete-message {
      cursor: pointer;
    }

    &__thumbs-up-block,
    &__comment-block {
      margin-left: 6px;
    }

    &__delete-message {
      &:hover {
        color: var(--delete-btn-hover-color);
      }
    }
  }
}

.message-tools-side__thumbs-up-block,
.message-tools-side__comment-block,
.message-tools-side__delete-message {
  color: var(--message-tools-color);
}

.message-tools-side__thumbs-up-block,
.message-tools-side__comment-block {
  &:hover {
    color: var(--header-text-span-color);
  }
}

.message-tools-side__thumbs-up-block_active {
  color: var(--thumb-up-activated);
}

.comment-create-area {
  position: relative;
  margin-top: 10px;

  &__textarea {
    display: block;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 30px 10px 12px;
    border: 0;
    border-radius: 2px;
    color: var(--header-text-span-color);
    background-color: var(--textarea-color);
    outline: 0 none transparent;
    resize: none;
  }

  &__send-btn {
    position: absolute;
    top: 48px;
    right: 5px;
    font-size: 24px;
    color: var(--send-btn-color);

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.comments {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 10px;
  color: var(--header-text-span-color);
}

.comment {
  margin-bottom: 10px;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 10px;

  &__name {
    font-size: 14px;
    color: var(--send-btn-color);
    margin-bottom: 5px;
  }

  &__last {
    border: none;
    padding: 0;
  }
}
