<header class="header">
  <a routerLink="/" class="header__title">Retro<span class="header__title-special">Board</span></a>
  <div class="user-tools" *ngIf="authStatus else login">
    <fa-icon
      [icon]="lightThemeActivated ? faMoon : faSun"
      class="user-tools__theme-toggler"
      (click)="toggleTheme()"
    ></fa-icon>
    <p class="user-tools__name">{{userName}}</p>
    <img class="user-tools__icon" [src]="lightThemeActivated ? '../../../assets/images/userIcon.png' : '../../../assets/images/userIcon-darkTheme.png'" alt="user icon">
    <fa-icon
      [icon]="faSignInAlt"
      class="user-tools__sign-out"
      (click)="signOut()"
    ></fa-icon>
  </div>
  <ng-template #login>
    <div class="user-tools__btns">
      <fa-icon
        [icon]="lightThemeActivated ? faMoon : faSun"
        class="user-tools__theme-toggler"
        (click)="toggleTheme()"
      ></fa-icon>
      <button
        class="user-tools__register"
        (click)="openDialog('register')"
      >Register</button>
      <button
        class="user-tools__log-in"
        (click)="openDialog('log in')"
      >Log In</button>
    </div>
  </ng-template>
</header>
