@import '~assets/scss/sizes';
@import '~assets/scss/button';

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-length;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: var(--secondary-color);
  z-index: 999;

  &__title {
    font-size: 20px;
    color: var(--header-text-color);
    cursor: pointer;
    text-decoration: none;

    &-special {
      font-weight: bold;
      color: var(--header-text-span-color)
    }
  }
}

.user-tools {
  display: flex;
  align-items: center;

  &__name {
    color: var(--header-text-color);
  }

  &__icon {
    padding: 0 16px;
    width: 50px;
  }

  &__theme-toggler {
    padding-right: 15px;
    margin-right: 15px;
    font-size: 26px;
    cursor: pointer;
    color: var(--toggler-color);
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  &__register, &__log-in {
    @include commonButton(var(--cmn-btn-bg),  var(--cmn-btn-color));
    width: 90px;
  }

  &__register {
    margin-right: 10px;
    margin-left: 5px;
    background-color: var(--header-text-color);
    color: var(--register-btn-color);
  }

  &__log-in {
    background-color: var(--cmn-btn-bg);
  }

  &__sign-out {
    margin-right: -18px;
    font-size: 26px;
    color: var(--header-text-color);
    cursor: pointer;

    &:hover {
      color: var(--delete-btn-hover-color);
    }
  }
}

@media screen and (max-width: 450px) {
  .header {
    height: $header-length - 8px;
    padding: 0 10px;

    &__title {
      font-size: 18px;
    }
  }

  .user-tools {
    &__register, &__log-in {
      width: 70px;
      font-size: 13px;
    }

    &__sign-out {
      margin-right: 2px;
    }

    &__theme-toggler {
      padding: 0;
      font-size: 22px;
    }

    &__icon {
      width: 44px;
    }

    &__name {
      padding-left: 4px;
    }
  }
}

@media screen and (max-width: 380px) {
  .user-tools {
    &__register, &__log-in {
      width: 56px;
      font-size: 12px;
    }

    &__name {
      display: none;
    }

    &__icon {
      width: 44px;
      border-left: 2px solid var(--devider-color);
    }
  }
}

@media screen and (max-width: 300px) {
  .user-tools {
    &__register, &__log-in {
      width: 46px;
    }
  }
}
