@import '~assets/scss/board-grid';
@import '~assets/scss/disabled-elem';

:host {
  @include board-grid(310px, 210px, center);
}

@media screen and (max-width: 340px) {
  :host {
    @include board-grid(270px, 210px, center);
  }
}

:host > * {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

:host > .new-board {
  border-style: dashed;
}
