<a
  class="link-to-the-board"
  aria-label="link to jump to a board page"
  routerLink="/board/{{board.id}}"
></a>
<p class="board-name">{{board.name}}</p>
<p class="board-author">{{board.creator.slice(0, board.creator.indexOf('@'))}}</p>
<button
  class="delete-btn"
  aria-label="button for board deletion"
  [ngClass]="{disabled: userEmail !== board.creator}"
  (click)="delete()"
></button>
