@import '~assets/scss/board-item';
@import '~assets/scss/button';
@import '~assets/scss/disabled-elem';

:host {
  @include board-item(100%);
}

a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.board-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--header-text-span-color);
}

.board-author {
  color: var(--message-tools-color);
}

.board-name,
.board-author {
  width: 80%;
  overflow-wrap: break-word;
  text-align: center;
}


.delete-btn {
  @include delete-btn(var(--send-btn-color), var(--delete-btn-hover-color));
  bottom: 10px;
  z-index: 100;
}
