<h2 mat-dialog-title class="dialog-title">Create Message</h2>
<div mat-dialog-content>
  <p class="dialog-field-name">Text</p>
  <mat-form-field appearance="fill">
    <mat-label>Enter text</mat-label>
    <textarea matInput [(ngModel)]="data.name"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-btns-container">
  <button color="dialog-btn" mat-button (click)="onNoClick()">Cancel</button>
  <button color="dialog-btn" mat-button [mat-dialog-close]="data.name">Ok</button>
</div>
