@import '~assets/scss/sizes';

:host {
  position: relative;
  display: block;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}

.footer {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  height: 40px;
  border-top: 2px var(--secondary-color) solid;
  line-height: 40px;
  text-align: center;
  color: var(--header-text-color);
}

.main {
  display: block;
  padding: (2*$header-length) 60px 60px;
}

@media screen and (max-width: 450px) {
  .main {
    padding: (2*($header-length - 10px)) 60px 60px;
  }
}
