@import '~assets/scss/board-item';
@import '~assets/scss/sizes';
@import '~assets/scss/disabled-elem';

:host {
  @include board-item(auto);
  padding: 4px 0;
}

.column-title {
  width: 80%;
  margin: 5px 0 10px;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: center;
  color: var(--header-text-span-color);
}

.add-message {
  width: $message-width;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  color: var(--header-text-span-color);
  background-color: var(--add-message-bg);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.delete-column {
  position: absolute;
  top: 9px;
  right: 10px;
  color: var(--header-text-color);

  &:hover {
    color: var(--delete-btn-hover-color);
    cursor: pointer;
  }
}

.message-container {
  @include board-item(auto);
  padding-bottom: 2px;
}

.message {
  position: relative;
  background-color: var(--main-color);
  width: $message-width;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 5px 10px 5px;
  border-radius: 2px;

  &__grip-vertical {
    position: absolute;
    top: 2px;
    right: 5px;
    color: var(--message-tools-color);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

@media screen and (max-width: 420px) {
  .add-message {
    width: $message-min-width;
  }

  .message {
    width: $message-min-width;
  }
}
