<p class="column-title">{{boardColumn.name}}</p>
<div
  class="add-message"
  (click)="openDialog()"
  [ngClass]="{disabled: userEmail !== boardCreator}"
>+
</div>
<div
  class="message-container"
  cdkDropList
  [cdkDropListData]="boardColumnCopy"
  (cdkDropListDropped)="dropMessage($event)"
>
  <div
    *ngFor="let message of boardColumn.messages"
    class="message"
    cdkDrag
    [cdkDragDisabled]="isDropDisabled()"
  >
    <app-message
      [ids]="{boardId: ids.boardId, columnId: ids.columnId, messageId: message.id}"
      [boardCreator]="boardCreator"
      (deleteMessageEvent)="deleteMessage($event)"
    >
    </app-message>
    <fa-icon
      [icon]="faGripVertical"
      class="message__grip-vertical"
      cdkDragHandle
    ></fa-icon>
  </div>
</div>
<fa-icon
  [icon]="faTrashAlt"
  class="delete-column"
  (click)="deleteColumnEvent.emit(boardColumn)"
  [ngClass]="{disabled: userEmail !== boardCreator}"
></fa-icon>
