<h2 mat-dialog-title class="dialog-title">Log In</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input type="email" matInput [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input type="password" matInput [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-btns-container">
  <button color="dialog-btn" mat-button (click)="onNoClick()">Cancel</button>
  <button color="dialog-btn" mat-button [mat-dialog-close]="[data.email, data.password]">LogIn</button>
</div>

