@import '~assets/scss/sizes';
@import '~assets/scss/button';
@import '~assets/scss/board-grid';
@import '~assets/scss/disabled-elem';

.board-page-header {
  position: fixed;
  top: $header-length;
  left: 0;
  width: 100%;
  height: $board-page-header-length;
  background-color: var(--board-page-header-color);

  &__btn {
    @include commonButton(var(--cmn-btn-bg),  var(--cmn-btn-color));
    top: 50%;
    margin: 0 auto;
    transform: translate(0, -50%);
  }
}

.board-columns {
  @include board-grid($column-width, auto, flex-start);
  margin-top: 10px;

  & > * {
    border-radius: 5px;
    background-color: var(--secondary-color);
  }
}

@media screen and (max-width: 450px) {
  .board-page-header {
    top: $header-length - 10px;
  }
}

@media screen and (max-width: 420px) {
  .board-columns {
    @include board-grid($column-min-width, auto, flex-start);
  }
}
