<header class="board-page-header">
  <button
    class="board-page-header__btn"
    (click)="openDialog()"
    [ngClass]="{disabled: userEmail !== board.creator}"
  >
    Add column
  </button>
</header>
<div class="board-columns" cdkDropListGroup>
  <app-column
    *ngFor="let column of board.columns"
    [ids]="{boardId: board.id, columnId: column.id}"
    [boardCreator]="board.creator"
    (deleteColumnEvent)="deleteColumn($event)"
    (updateBoardEvent)="updateBoard($event)"
  ></app-column>
</div>
