@import '~assets/scss/themes';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  @extend .dark-theme;
}

body.light-theme {
  @extend .light-theme;
}

body {
  min-width: 280px;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--main-color);
}

mat-dialog-container {
  background-color: var(--dialog-bg) !important;
  max-width: 90vw !important;

  .mat-form-field-flex {
    color: var(--header-text-span-color) !important;
    background: var(--dialog-field-bg) !important;
  }

  mat-label {
    color: #5f5fad;
  }
}

